button{
  margin-top: 10px;
}
@media only screen and (max-width:900px){
  .row{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .form,h2{
    display: flex;
    flex-direction: column;
    width:90vw;

}

}
